**

!edge/
!edge/**
!pi-touchscreen/
!pi-touchscreen/**

edge/captures/
edge/demo_samples/
edge/weights/
edge/.env

**/.DS_Store
**/node_modules
**/dist
**/target
**/.venv
**/.venv*
**/__pycache__
**/*.pyc
